In [1]:
import pandas as pd
import numpy as np
import pickle

In [2]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

In [3]:
anime_info = pd.read_csv('./Data/anime.csv')

In [4]:
with open('anime_ratings.pickle', 'rb') as file_out:
    anime_ratings = pickle.load(file_out)

In [5]:
anime_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12294 entries, 0 to 12293
Data columns (total 7 columns):
anime_id    12294 non-null int64
name        12294 non-null object
genre       12232 non-null object
type        12269 non-null object
episodes    12294 non-null object
rating      12064 non-null float64
members     12294 non-null int64
dtypes: float64(1), int64(2), object(4)
memory usage: 672.5+ KB

In [6]:
# Dropping the average rating of the anime #
anime_info = anime_info.drop('rating', axis=1)

In [7]:
# We are only interested in Movie and TV types of anime #
anime_info.type = anime_info.type.apply(lambda x:
                                        1 if (x == 'TV')
                                        else (1 if x == 'Movie' else 0))

In [8]:
# Creating a subset of anime whose type are either TV or Movie #
anime_info = anime_info.loc[anime_info.type == 1]

In [9]:
with open('anime_info_cleaned.pickle', 'wb') as f:
    pickle.dump(anime_info, f)

In [10]:
anime_ratings.head()

   user_id  anime_id  rating
0        2     11771      10
1        3     11771      10
2       14     11771       7
3       17     11771       9
4       21     11771       8

In [11]:
df = anime_ratings.merge(anime_info, on='anime_id', how='inner')

In [12]:
df.head()

,user_id,anime_id,rating,name,genre,type,episodes,members
0,2,11771,10,Kuroko no Basket,"Comedy, School, Shounen, Sports",1,25,338315
1,3,11771,10,Kuroko no Basket,"Comedy, School, Shounen, Sports",1,25,338315
2,14,11771,7,Kuroko no Basket,"Comedy, School, Shounen, Sports",1,25,338315
3,17,11771,9,Kuroko no Basket,"Comedy, School, Shounen, Sports",1,25,338315
4,21,11771,8,Kuroko no Basket,"Comedy, School, Shounen, Sports",1,25,338315

In [13]:
ratings = df.drop(['genre', 'type', 'episodes', 'members'], axis=1)

In [14]:
with open('ratings.pickle', 'wb') as f:
    pickle.dump(ratings, f)

In [37]:
ratings = df.pivot_table(index=['user_id'], columns=['name'], values='rating')

MemoryError: Unable to allocate array with shape (66211, 1905) and data type float64

In [ ]:
with open('user_anime_matrix.pickle', 'wb') as f:
    pickle.dump(ratings, f)

In [26]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 66211 entries, 2 to 73516
Columns: 1905 entries, &quot;Bungaku Shoujo&quot; Movie to xxxHOLiC Movie: Manatsu no Yoru no Yume
dtypes: float64(1905)
memory usage: 962.8 MB